---
import "../styles/main.css";
import GithubHeatmap from "../components/GithubHeatmap.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>LingC's Homepage</title>
    <style></style>
  </head>
  <body>
    <main>
      <div class="left-con">
        <h1>LINGC</h1>
        <p class="comments">I will find quote someday</p>
        <video autoplay muted loop playsinline width="500">
          <source src="/lain.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="right-con">
        <h2>A hobbyist software developer</h2>
        <p>Why do we constantly pursue pathetic things?</p>
        <a class="btn" href="https://lycois.org/">▸▸ Blog</a>
        <GithubHeatmap />
        <h2>二 Social media</h2>
        <p>
          I record some videos about computers solely for self-study purposes.
        </p>
        <p>You can watch them on Youtube or Bilibili.</p>
        <div class="social-links">
          <a href="https://x.com/mutta02" aria-label="X profile" class="x-link">
            <svg
              role="img"
              viewBox="0 0 24 24"
              width="22"
              height="22"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>X</title>
              <path
                d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932 6.064-6.932zm-1.292 19.492h2.039L6.486 3.24H4.298l13.311 17.405z"
              ></path>
            </svg>
            X
          </a>

          <a
            href="https://www.youtube.com/@mutta02"
            aria-label="YouTube channel"
            class="youtube-link"
          >
            <svg
              role="img"
              viewBox="0 0 24 24"
              width="22"
              height="22"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>YouTube</title>
              <path
                d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"
              ></path>
            </svg>
            YouTube
          </a>

          <a
            href="https://space.bilibili.com/15384672"
            aria-label="Bilibili profile"
            class="bilibili-link"
          >
            <svg
              role="img"
              viewBox="0 0 24 24"
              width="22"
              height="22"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Bilibili</title>
              <path
                d="M18.223 3.086a1.25 1.25 0 0 1 0 1.768L17.08 5.996h1.17A3.75 3.75 0 0 1 22 9.747v7.5a3.75 3.75 0 0 1-3.75 3.75H5.75A3.75 3.75 0 0 1 2 17.247v-7.5a3.75 3.75 0 0 1 3.75-3.75h1.166L5.775 4.855a1.25 1.25 0 1 1 1.767-1.768l2.652 2.652c.079.079.145.165.198.257h3.213c.053-.092.12-.18.199-.258l2.651-2.652a1.25 1.25 0 0 1 1.768 0zm.027 5.42H5.75a1.25 1.25 0 0 0-1.247 1.157l-.003.094v7.5c0 .659.51 1.199 1.157 1.246l.093.004h12.5a1.25 1.25 0 0 0 1.247-1.157l.003-.093v-7.5c0-.69-.56-1.25-1.25-1.25zm-10 2.5c.69 0 1.25.56 1.25 1.25v1.25a1.25 1.25 0 1 1-2.5 0v-1.25c0-.69.56-1.25 1.25-1.25zm7.5 0c.69 0 1.25.56 1.25 1.25v1.25a1.25 1.25 0 1 1-2.5 0v-1.25c0-.69.56-1.25 1.25-1.25z"
              ></path>
            </svg>
            Bilibili
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
